#background-wrap {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        top:70% ;
    }
    100% {
        top:-100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        top:70% ;
    }
    100% {
        top:-100%;
    }
}

@keyframes animateBubble {
    0% {
        top:70% ;
    }
    100% {
        top: -100%;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px; 
    }
    100% { 
        margin-left:50px; 
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px; 
    }
    100% { 
        margin-left:50px; 
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/* ----------------------------------------------squer------------------------------------ */
@-webkit-keyframes animateBubbleS {
    0% {
        top:70%;
        border-radius:2%;
    }
    100% {
        top: -50%;
        border-radius:2%;
    }
}

@-moz-keyframes animateBubbleS {
    0% {
        top:70%;
        border-radius:2%;
    }
    100% {
        top: -50%;
        border-radius:2%;
    }
}

@keyframes animateBubbleS {
    0% {
        top:70%;
        border-radius:2%;
    }
    100% {
        top: -50%;
        border-radius:2%;
    }
}

@-webkit-keyframes sideWaysS { 
    0% { 
        margin-left:0px;
        border-radius:2%; 
    }
    100% { 
        margin-left:50px;
        border-radius:2%; 
    }
}

@-moz-keyframes sideWaysS { 
    0% { 
        margin-left:0px;
        border-radius:2%;  
    }
    100% { 
        margin-left:50px;
        border-radius:2%; 
    }
}

@keyframes sideWaysS { 
    0% { 
        margin-left:0px;
        border-radius:2%; 
    }
    100% { 
        margin-left:50px;
        border-radius:2%; 
    }
}
/* -------------------------------------------------Fish Right---------------------------------- */
@keyframes fishR { 
    0% { 
        margin-top:-30%;
        margin-left:50%;
    }

    50% { 
        margin-top:-17%;
        margin-left:14%;
       
    }
    100% { 
        margin-top:-17%;
        margin-left:14%;
       
    }
}
.x6 {
    width: 100%;
    -webkit-animation: fishR 40s  ease-in-out , reverse;
    -moz-animation: fishR 40s  ease-in-out , reverse; 
    animation: fishR 40s ease-in-out infinite ,reverse;
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    transform: scale(0.2);
}
@keyframes fishX13 { 
    0% { 
        margin-top:-10%;
        margin-left:37%;
    }
    100% { 
        margin-top:-22%;
        margin-left:12%;
    }
}

.x13 {
    width: 100%;
    -webkit-animation: fishX13 50s  ease-in-out , reverse;
    -moz-animation: fishX13 50s  ease-in-out , reverse; 
    animation: fishX13 30s ease-in-out infinite ,reverse;
    
    -webkit-transform: rotate(-75deg);
    -moz-transform: rotate(-75deg);
    transform: rotate(-75deg);
    -webkit-transform: scale(0.12);
    -moz-transform: scale(0.12);
    transform: scale(0.12);
    
}

@keyframes fishX14 { 
    0% { 
        margin-top:0%;
        margin-left:42%;
    }
    100% { 
        margin-top:-4%;
        margin-left:9%;
    }
}

.x14{
    width: 100%;
    -webkit-animation: fishX14 33s  ease-in-out , reverse;
    -moz-animation: fishX14 33s  ease-in-out , reverse; 
    animation: fishX14 33s ease-in-out infinite ,reverse;
  
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    transform: rotate(-50deg);
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    transform: scale(0.1);
left:0;
top:0;
}

/* --------------------------Fish left------------------------------------- */

@keyframes fish { 
    
    0% {
        
        margin-top:15%;
        margin-left:-50%;
    }
    50% {
        margin-top:15%;
        margin-left:-10%;
        
    }
    100%{
        margin-top:15%;
        margin-left:-10%;
    }
}
.x1 {
   
    width: 100%;
     -webkit-animation: fish 40s ease-in-out  ;
    -moz-animation: fish 40s  ease-in-out  ; 
    animation: fish 40s  ease-in-out infinite ;
    margin-top:0%;
    margin-left:0.5%;

    -webkit-transform: scale(0.24);
    -moz-transform: scale(0.24);
    transform: scale(0.24);
    
}

@keyframes fishX11 { 
    
    0% {
        
        margin-top:-40%;
        margin-left:-50%;
    }
    50% {
        margin-top:-26.5%;
        margin-left:-12.5%;
        
    }
    100%{
        margin-top:-26.5%;
        margin-left:-12.5%;
    
}
}
.x11 {
   
    width: 100%;
     -webkit-animation: fishX11 45s ease-in-out  ;
    -moz-animation: fishX11 45s  ease-in-out  ; 
    animation: fishX11 45s  ease-in-out infinite ;
    margin-top:-0.2%;
        margin-left:0.8%;

        -webkit-transform: scale(0.13);
    -moz-transform: scale(0.13);
    transform: scale(0.143);
    
}

@keyframes fishX12 { 
    
    0% { 
        margin-top:-30%;
        margin-left:-2%;
    }
    100% { 
        margin-top:-53.2%;
        margin-left:-1.5%;
    }

}
.x12{
    width: 100%;
    -webkit-animation: fishX12 35s ease-in-out  ;
   -moz-animation: fishX12 35s  ease-in-out  ; 
   animation: fishX12 35s  ease-in-out infinite ;
    -webkit-transform:rotate(-360deg) scale(0.06);
    -moz-transform:rotate(-360deg) scale(0.06);
    transform:rotate(-360deg) scale(0.06);
}
/* ----------------------------------------------Bubble------------------------------------------------ */
.x2 {
    width: 100%;
    -webkit-animation: animateBubble 30s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: animateBubble 30s linear infinite, sideWays 5s ease-in-out infinite alternate;
    animation: animateBubble 30s linear infinite, sideWays 5s ease-in-out infinite alternate;
    
    left: 5%;
    top: 0%;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);

}
.x3 {
    width: 100%;
    -webkit-animation: animateBubble 38s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -moz-animation: animateBubble 38s linear infinite, sideWays 3s ease-in-out infinite alternate;
    animation: animateBubble 38s linear infinite, sideWays 3s ease-in-out infinite alternate;
    
    left: 10%;
    top: 65%;
    
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
}

.x4 {
    width: 100%;
    -webkit-animation: animateBubble 32s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 32s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 32s linear infinite, sideWays 4s ease-in-out infinite alternate;
    
    left: 0%;
    top: 65%;
    
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
}

.x5 {
    width: 100%;
    -webkit-animation: animateBubble 30s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: animateBubble 30s linear infinite, sideWays 5s ease-in-out infinite alternate;
    animation: animateBubble 30s linear infinite, sideWays 5s ease-in-out infinite alternate;
    
    left: 30%;
    top: 65%;
    
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(0.7);
}


/* --------------------------------------squer------------------------------------------------------------ */
.x7 {
    width: 100%;
    -webkit-animation: animateBubbleS 20s linear infinite, sideWaysS 2s ease-in-out infinite alternate;
    -moz-animation: animateBubbleS 20s linear infinite, sideWaysS 2s ease-in-out infinite alternate;
    animation: animateBubbleS 20s linear infinite, sideWaysS 2s ease-in-out infinite alternate;
    
    left: 50%;
    top: 65%;
    
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
}

.x8 {
    width: 100%;
    -webkit-animation: animateBubbleS 22s linear infinite, sideWaysS 3s ease-in-out infinite alternate;
    -moz-animation: animateBubbleS 22s linear infinite, sideWaysS 3s ease-in-out infinite alternate;
    animation: animateBubbleS 22s linear infinite, sideWaysS 3s ease-in-out infinite alternate;
    
    left: 56%;
    top: 65%;
    
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
}

.x9 {
    width: 100%;
    -webkit-animation: animateBubbleS 29s linear infinite, sideWaysS 4s ease-in-out infinite alternate;
    -moz-animation: animateBubbleS 29s linear infinite, sideWaysS 4s ease-in-out infinite alternate;
    animation: animateBubbleS 29s linear infinite, sideWaysS 4s ease-in-out infinite alternate;
    
    left: 70%;
    top: 65%;
    
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
}

.x10 {
    width: 100%;
    -webkit-animation: animateBubbleS 26s linear infinite, sideWaysS 2s ease-in-out infinite alternate;
    -moz-animation: animateBubbleS 26s linear infinite, sideWaysS 2s ease-in-out infinite alternate;
    animation: animateBubbleS 26s linear infinite, sideWaysS 2s ease-in-out infinite alternate;
    
    left: 66%;
    top: 65%;
    
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
}
/* ---------------------------plant-------------------------------------- */
.plant_2{
    margin-top: 23%;
    margin-left: 78%;
    width: 10%;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.2);

	transform-origin: center bottom;
	-moz-transform-origin: center bottom;
	-webkit-transform-origin: center bottom;
	
	animation-name:plant2;
	animation-duration:15s;
	animation-iteration-count:infinite;
	animation-timing-function: linear;
	
	-moz-animation-name:plant2;
	-moz-animation-duration:15s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function: linear;
	
	-webkit-animation-name:plant2;
	-webkit-animation-duration:15s;
	-webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function: linear;
    
}
@keyframes plant2{
	from{
	transform:skewX(-3deg);
	}
	50%{
	transform:skewX(3deg);
	}
	to{
	transform:skewX(-3deg);
	}
}
@-moz-keyframes plant2{
	from{
	-moz-transform:skewX(-3deg);
	}
	50%{
	-moz-transform:skewX(3deg);
	}
	to{
	-moz-transform:skewX(-3deg);
	}
}
@-webkit-keyframes plant2{
	from{
	-webkit-transform:skewX(-3deg);
	}
	50%{
	-webkit-transform:skewX(3deg);
	}
	to{
	-webkit-transform:skewX(-3deg);
	}
}


.plant_3{
margin-top:15%;
    margin-left: 20%;
   width: 10%;
	transform-origin: center bottom;
	-moz-transform-origin: center bottom;
	-webkit-transform-origin: center bottom;
	
	animation-name:plant3;
	animation-duration:15s;
	animation-iteration-count:infinite;
	animation-timing-function: linear;
	
	-moz-animation-name:plant3;
	-moz-animation-duration:15s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function: linear;
	
	-webkit-animation-name:plant3;
	-webkit-animation-duration:15s;
	-webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function: linear;
    transform: scale(0.3);

}
@keyframes plant3{
	from{
	transform:skewX(3deg);
	}
	50%{
	transform:skewX(-3deg);
	}
	to{
	transform:skewX(3deg);
	}
}
@-moz-keyframes plant3{
	from{
	-moz-transform:skewX(3deg);
	}
	50%{
	-moz-transform:skewX(-3deg);
	}
	to{
	-moz-transform:skewX(3deg);
	}
}
@-webkit-keyframes plant3{
	from{
	}
	50%{
	-webkit-transform:skewX(-3deg);
	}
	to{
	-webkit-transform:skewX(3deg);
	}
}

/* OBJECTS */


	
	.bubble:after {
		background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
		background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		
		-webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
		-moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
		box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
		
		content: "";
		height: 90%;
		left: 10px;
		position: absolute;
		width: 90%;
}
/* --------------------------squer--------------------------------------------------------------------- */
.squer {
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    border-radius: 2%;
    
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
    
    height: 20%;
    position: absolute;
    width: 11%;
}

.squer:after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    border-radius: 2%;
    
    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
    
    content: "";
    height: 90%;
    left: 10px;
    position: absolute;
    width: 90%;
}
/* ---------------------------------------------------------------------------------------------------- */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
